{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Donations Made human</h1>
  <p class="lead">Enabling your donors a transparent view into their impact of the real world.</p>
</div>
<hr>
<h3>What is InnCrisis?</h3>
<div class="row">
  <div class="span6">
    <h4>Turnkey</h4>
    <ul>
      <li>Deploy without needing to manage a server</li>
      <li>Automated deployment</li>
      <li>You own the system, each system is unique</li>
    </ul>
  </div>
  <div class="span6">
    <h4>API</h4>
    <ul>
      <li>Integrate your app to make disbursements on the go</li>
    </ul>
  </div>
</div>
{% endblock %}
