{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="background-wrapper">
    <div class="background"></div>
  </div>
  <h1>Crowdfund Hope, Convey Gratitude.</h1>
  <p class="lead">A white label app that lets field agents acknowledge donor impact.</p>
</div>
<hr>
<h3>What is InnCrisis?</h3>
<div class="row">
  <div class="span4">
    <h4>It's an App</h4>
    <ul>
      <li>Easy instant solution, no support required. Completely free.</li>
      <li>Automated deployment</li>
      <li>Deploy without needing to manage a server</li>
      <li>You own the system, each system is unique</li>
    </ul>
  </div>
  <div class="span4">
    <h4>It's a Platform</h4>
    <ul>
      <li>Integrate your app to make disbursements on the go</li>
      <li>API Documentation forthcoming</li>
    </ul>
  </div>
  <div class="span4">
  <h4>It's a work in progress!</h4>
    <ul>
      <li><a href="http://www.inncrisis.org/about">Read about the origin of this project</a></li>
      <li><a href="http://dev.inncrisis.org/">Visit our blog for to development progress reports</a></li>
      <li>For more information, contact Lyre Calliope via <a href="mailto:lyre.calliope@gmail.com">email</a> or <a href="http://twitter.com/captaincalliope">Twitter</a></li>
    </ul>
  </div>
</div>
{% endblock %}
